@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
    --color-frambuesa: #bb0099;
}

.navbar {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5rem;
}

.container {
    padding-top: 2rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mr-05rem {
    margin-right: 0.5rem;
}

.mr-2rem {
    margin-right: 2rem;
}

.px-05rem {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bi {
    font-size: 1.8rem;
    color: var(--color-frambuesa);
    transition: transform 0.3s;
}

#infoLogin {
    cursor: pointer;
}

#infoLogin > div:nth-child(3) {
    transition: transform 0.3s;
}

#infoLogin:hover > div:nth-child(3) {
    color: var(--color-frambuesa);
}

.input-registro-diario {
    background-color: transparent;
    border: none;
}

@keyframes removeAfter10seconds {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.auto-hide-5s {
    animation: removeAfter10seconds 1s linear 5s 1 normal forwards;
}

.card-login {
    min-width: 20rem;
    width: 50dvw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.popup-cerrar-sesion {
    position: absolute;
    padding: 1rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    text-wrap: nowrap;
    z-index: 99;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    display: none;
}

.popup-cerrar-sesion:hover {
    background-color: var(--color-frambuesa);
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 1rem white inset;
    color: #fff;
}

.popup-cerrar-sesion-mostrar {
    display: block;    
}

.mensaje-error-login {
    color: #ff0000;
    font-weight: bold;
    margin-top: 0.5rem;
    width: 100%;
}

.link-regenerar {
    margin-top: 1rem;
}

.link-regenerar:hover {
    text-decoration: underline;
    color: var(--color-frambuesa);
}

.link-frambuesa:hover {
    text-decoration: underline;
    color: var(--color-frambuesa);
}

.active {
    color: var(--color-frambuesa) !important;
}

.sin-planillas {
    padding: 1rem;
}

#area-adjunto {
    position: inherit;
    padding: 3rem 0;
}

#area-adjunto[contiene-archivo=true] {
    padding: 1rem;
}

#area-adjunto > .bg-texto {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #77777777;
    z-index: 1;
    font-size: 1.7rem;
}

#area-adjunto > input {
    position: inherit;
    z-index: 2;
}

.file-drag-over {
    background-color: #bb009933;
}

.file-input-anchor {
    text-decoration: underline;
    color: #77777777;
}

.file-input-anchor:hover {
    color: var(--color-frambuesa);
    cursor: pointer;
}

input[type=file] {
    display: none;
}

#wrapperNombreArchivo {
    padding: 0 1rem;
    width: fit-content;
    text-align: center;
}
