@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
    --color-frambuesa: #bb0099;
}

.navbar {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5rem;
}

.container {
    padding-top: 2rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.mr-05rem {
    margin-right: 0.5rem;
}

.mr-2rem {
    margin-right: 2rem;
}

.bi {
    font-size: 1.8rem;
    color: var(--color-frambuesa);
    transition: transform 0.3s;
}

#infoLogin {
    cursor: pointer;
}

#infoLogin > div:nth-child(2) {
    transition: transform 0.3s;
}

#infoLogin:hover > div:nth-child(2) {
    /* transform: scale(1.1); */
    color: var(--color-frambuesa);
}

.input-registro-diario {
    background-color: transparent;
    border: none;
}

@keyframes removeAfter10seconds {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.auto-hide-5s {
    animation: removeAfter10seconds 1s linear 5s 1 normal forwards;
}
