{% extends "base.html" %}

{% block titulo %} Dashboard {% endblock %}
{% block navlinks %}
    {% include "components/nav_links.html" with seleccionado="Dashboard" %}
{% endblock %}
{% block contenido %}
    <form method="post" action="/seleccionfecha">
        {% csrf_token %}
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Planillas pendientes de aprobación
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>
                                Empleado
                            </th>
                            <th>
                                Mes
                            </th>
                            <th>
                                Año
                            </th>
                            <th class="th-sm">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for planilla in listaPlanillas %}
                        {% for subplanilla in planilla.planillasPorAprobar %}
                            <tr>
                                <td>{{ planilla.nombre_completo }}</td>
                                <td>{{ subplanilla.mes.Nombre }}</td>
                                <td>{{ subplanilla.anio }}</td>
                                <td class="text-center"><button class="btn btn-success">Ver / Aprobar</button></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="text-center">
                    
                </div>
            </div>
            <div class="card-footer text-muted bg-light">
                Sistema de gestión - Reporte horario
            </div>
        </div>
    </form>
    <br><br>
    {% include "components/form_fecha.html" with titulo="Acceder a mi planilla" %}
    <br><br>
{% endblock %}