{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block titulo %} Planilla {% endblock %}
{% block contenido %}
<form method="post" action="/planilla" id="formPlanilla">
    {% csrf_token %}
    <input type="hidden" opciones="{{ acciones_submit }}" name="accion_submit" id="hdnAccionSubmit" value="{{ accion_submit }}">
    <input type="hidden" name="mesReporte" value="{{ mesReporte }}">
    <input type="hidden" name="anioReporte" value="{{ anioReporte }}">
    {% if mostrarMensaje %}
    <div class="alert alert-success auto-hide-5s" role="alert">
        {% if presentado == True %}
        La planilla se presentó exitosamente
        {% else %}
        Los cambios en la planilla se han guardado exitosamente
        {% endif %}
    </div>
    {% endif %}
    <div class="card mb-4">
        <div class="card-header">
            <h3>EMPRESA ABC - REPORTE HORARIO</h3>
            <h4>{{ nombreMesReporte }} {{ anioReporte }}</h4>
            <div class="d-flex flex-row mt-4">
                <h5 class="w-25"><b>Legajo:</b> {{ datosEmpleado.legajo }}</h5>
                {% with nombre_completo=datosEmpleado.apellidos|add:", "|add:datosEmpleado.nombres %}
                <h5 class="w-75"><b>Apellido(s) y nombre(s):</b> {{ nombre_completo }}</h5>
                {% endwith %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered w-0">
                <thead>
                    <tr>
                        <th>
                            Día
                        </th>
                        <th>
                            Código
                        </th>
                        <th class="w-100">
                            Observaciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for datoDiario in datosDiarios %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">
                                {% if not datosPlanilla.presentado %}
                                <select class="w-100 input-registro-diario" name="codigos">
                                    <option value="sn" {% if datoDiario.codigo == "sn" %}{{"selected"}}{%endif%}>S/N</option>
                                    <option value="v" {% if datoDiario.codigo == "v" %}{{"selected"}}{%endif%}>V</option>
                                    <option value="cs" {% if datoDiario.codigo == "cs" %}{{"selected"}}{%endif%}>CS</option>
                                    <option value="sa" {% if datoDiario.codigo == "sa" %}{{"selected"}}{%endif%}>SA</option>
                                </select>
                                {% else %}
                                {{ datoDiario.codigo|etiqueta_codigo }}
                                {% endif %}
                            </td>
                            <td>
                                {% if not datosPlanilla.presentado %}
                                <input class="w-100 input-registro-diario" placeholder="{{ textoSinNovedad }}" type="text" name="observaciones" id="observacion_{{i}}" value="{{datoDiario.observaciones}}">
                                {% else %}
                                {% if datoDiario.observaciones == "" %}{{ textoSinNovedad }}{% else %}{{ datoDiario.observaciones }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not datosPlanilla.presentado %}
            <div class="d-flex flex-row w-100 justify-content-center">
                <button id="btnLimpiarForm" class="btn btn-danger" type="button">Limpiar formulario</button>
                <button id="btnGuardarCambios" class="btn btn-primary ml-1rem" type="submit">Guardar cambios</button>
                <button id="btnPresentarPlanilla" class="btn btn-success ml-1rem" type="button">Presentar planilla</button>
            </div>
            {% endif %}
        </div>
        {% if datosPlanilla.presentado %}
        <div class="card-footer text-success">
            Estado: Presentado
        {% else %}
        <div class="card-footer text-danger">
            Estado: Borrador
        {% endif %}
        </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'js/planilla.js' %}"></script>
{% endblock %}