{% extends "base.html" %}

{% block titulo %} Planilla {% endblock %}
{% block contenido %}
<form method="post" action="/planilla">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h3>EMPRESA ABC - REPORTE HORARIO</h3>
            <h4>{{ mesReporte }} {{ anioReporte }}</h4>
            <div class="d-flex flex-row mt-4">
                <h5 class="w-25"><b>Legajo:</b> {{ datosAgente.0 }}</h5>
                {% with nombre_completo=datosAgente.1|add:" "|add:datosAgente.2 %}
                <h5 class="w-75"><b>Apellido/s y nombre/s:</b> {{ nombre_completo }}</h5>
                {% endwith %}
            </div>
        </div>
        <div class="card-body">
            <h4 class="card-title">Fecha:</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            <label for="mesReporte">Mes:</label>
                            <select class="w-100" id="mesReporte" name="mesReporte" placeholder="Seleccionar mes" />
                                {% for mes in nombresMeses %}
                                    <option value="{{mes.ID}}" {% if mes.ID == mesActual %}selected{% endif %}>{{ mes.Nombre }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <label for="añoReporte">Año:</label>
                            <select class="w-100" id="añoReporte" name="aniooReporte" placeholder="Seleccionar año" />
                                {% for anio in anios %}
                                    <option value={{anio}} {% if anio == anioActual %}selected{% endif %}>{{anio}}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="text-center">
                <button class="btn btn-primary">Abrir planilla</button>
            </div>
        </div>
        <div class="card-footer text-muted">
            Estado: 
            {% if datosPlanilla.4 %}
            Presentado
            {% else %}
            Borrador
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}