{% extends "base.html" %}

{% block titulo %} Regenerar contraseña {% endblock %}
{% block contenido %}
<form method="post" action="/regenerar">
    {% csrf_token %}

    <input type="hidden" name="accion" value="{{accion}}">
    {% if codigo %}
    <input type="hidden" name="codigo" value="{{codigo}}">
    {% endif %}

    {% if not mensaje or mensaje == "" %}
    <div class="d-flex justify-content-center">
        <div class="card card-login">
            <div class="card-header">
                Empresa ABC - Control de horas
            </div>
            <div class="card-body">
                <h4 class="card-title">Regenerar contraseña</h4>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column mt-1rem">
                        <label for="txtUsername">E-mail o legajo:</label>
                        <input {% if usuario_previo %}value="{{usuario_previo}}" {% endif %}id="txtUsername" type="text" name="username" placeholder="E-mail o legajo" class="px-05rem" required>
                    </div>
                    {% if accion == acciones.1 %}
                    <div class="d-flex flex-column mt-1rem">
                        <label for="txtPassword">Contraseña:</label>
                        <input id="txtPassword" type="password" name="password" placeholder="Contraseña" class="px-05rem" required>
                    </div>
                    <div class="d-flex flex-column mt-1rem">
                        <label for="txtPassword">Repetir contraseña:</label>
                        <input id="txtPassword" type="password" name="confirmar_password" placeholder="Contraseña" class="px-05rem" required>
                    </div>
                    {% endif %}
                </div>
                <div class="mensaje-error-login">
                    {{ mensaje_error }}
                </div>
                <div class="text-center mt-2rem">
                    <button class="btn btn-primary">
                        {% if accion == acciones.0 %}
                        Enviar link al mail
                        {% else %}
                        Guardar contraseña
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="card-footer text-muted">
                Sistema de gestión - Reporte horario
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-success" role="success">
        {{ mensaje }}
    </div>
    {% endif %}
</form>
{% endblock %}